# Python String

In [2]:
# Replace strings

a = "A B C D E F A A A"
print(a)
a = a.replace('A', 'Z')
print(a)

A B C D E F A A A
Z B C D E F Z Z Z

In [3]:
# Splitting a string

a = "He is not aloof, he is an introvert"

separated = a.split(',')
separated[1] = separated[1].strip()

print(separated[0])
print(separated[1])

He is not aloof
he is an introvert

In [4]:

x = "Unknown secretes are stronger than free rumors."
y = "You know nothing"

concatenated = x + ' ' + y
print(concatenated)

Unknown secretes are stronger than free rumors. You know nothing

In [5]:
b = "He who has childhood trauma"

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [6]:
# Center of a string

str1 = "Not hate for the world"
print(str1.center)

<built-in method center of str object at 0x0000025B4A5B47B0>

In [7]:
# index() method

str2 = "Why somebody would go for therapy without let know his/her family?"
print(str2.index("therapy"))

26

# Python list

In [8]:
list1 = ["Tomato", "Superman", "Robocop", "Hollowman"]
print(type(list1))

<class 'list'>

In [9]:
# check if something is exist in the list

if "max" not in list1:
    print("Doesn't exist")

Doesn't exist

In [10]:
# insert new item in list in a specific index

list1.insert(1, "Batman")
list1.insert(1, "Ironman")
print(list1)

['Tomato', 'Ironman', 'Batman', 'Superman', 'Robocop', 'Hollowman']

In [11]:
# Add a new item in the end

list1.append("Loki")
print(list1)

['Tomato', 'Ironman', 'Batman', 'Superman', 'Robocop', 'Hollowman', 'Loki']

In [12]:
list2 = ["Homelander"]

# merge two or more lists together in a new list
allHeroes = list1 + list2

# merge list together in a single list
list1.extend(list2)

print(list1, '\n', allHeroes)

['Tomato', 'Ironman', 'Batman', 'Superman', 'Robocop', 'Hollowman', 'Loki', 'Homelander']
 ['Tomato', 'Ironman', 'Batman', 'Superman', 'Robocop', 'Hollowman', 'Loki', 'Homelander']

In [13]:
heroDict = {
    "Thor": "Brother of Loki",
    "Doctors": "First line defender of COVID 19"
}

list2.extend(heroDict)
list2

['Homelander', 'Thor', 'Doctors']

In [14]:
# remove elements using remove() method
list3 = ["A", 'B', 'A', 'C', 'B']

# remove the first 'A' from the list
# list3.remove('A')

# remove all 'A' from the list
while 'A' in list3:
    list3.remove('A')

list3

['B', 'C', 'B']

In [15]:
# remove an item in a specific index
list4 = ["Subodh", "Antu", "Shanto", "Rishab", "Rudro"]

try:
    list4.pop(100)
except:
    print("Invalid index")

# list4.pop(2)
# del list4[2]

print(list4)

Invalid index
['Subodh', 'Antu', 'Shanto', 'Rishab', 'Rudro']

In [16]:
# Clear a list

list4.clear()
list4

[]

In [17]:
# Iterate over the list using for loop
numbers = [1, 5, 10, 3, 9, 15, -3, 33, 70, 49, 50, 66]

# print all numbers
for x in range(1, 50, 3):
    print(x, end=' ')

print()

# print numbers in every 2 index
for x in range(1, 51, 2):
    print(x, end=' ')

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [18]:
# Looping and list comprehension

# Iterate over the list using for loop
numbers = [1, 5, 10, 3, 9, -6, 15, -3, 33, 70, 49, 50, 66]

# Using list comprehension filter the even and odd numbers
even_numbers = [x for x in numbers if x % 2 == 0 and x > 0]
odd_numbers = [x for x in numbers if x % 2 != 0 and x > 0]

print(even_numbers, end=' ')
print()
print(odd_numbers, end=' ')

[10, 70, 50, 66]
[1, 5, 3, 9, 15, 33, 49]

In [19]:
# looping using list comprehension

[print(x, end=' ') for x in numbers]

1 5 10 3 9 -6 15 -3 33 70 49 50 66

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [20]:
# copy list to another list

newListNumbers = ['something1', 'something2']
print(newListNumbers)
newListNumbers = numbers
print(newListNumbers)

['something1', 'something2']
[1, 5, 10, 3, 9, -6, 15, -3, 33, 70, 49, 50, 66]

In [21]:
# You're give a list, now create a list which only contains the odd indexed elements

test_list = [101, 102, 103, 104, 105, 106, 107, 108, 109]

# declaring empty lists
res_list1 = []
res_list2 = []

# Way 1: Conditional
for i in range(0, len(test_list)):
    if i % 2 != 0:
        res_list1.append(test_list[i])

# Way 2: Clean code
for i in range(1, len(test_list), 2):
    res_list2.append(test_list[i])

print(res_list1)
print(res_list2)

[102, 104, 106, 108]
[102, 104, 106, 108]

In [22]:
# make a list that contains 0 to 10
newlist = [x for x in range(10) if x <= 10]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
# Sorting a list

# Generate 10 random numbers in a list
import random
list5 = [random.randint(-50, 100) for i in range(10)]
print(list5)

[79, 63, -44, -42, -14, 44, -9, 15, -12, 56]

In [24]:
# sorting in ascending order
list5.sort()
print(list5)

# sorting in descending order
list5.sort(reverse=True)
print(list5)

[-44, -42, -14, -12, -9, 15, 44, 56, 63, 79]
[79, 63, 56, 44, 15, -9, -12, -14, -42, -44]

In [25]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [26]:
# Copy 2-5 index of a list into another list along with the old items
list6 = [-100, -200, -300]
print(list6)

list6 = list6 + list5[2:6]
print(list6)

[-100, -200, -300]
[-100, -200, -300, 56, 44, 15, -9]

In [27]:
# Multiply list

list_numbers = [1, 2, 3, 4, 5, 6, 7, 1, 1, 1]
list_numbers *= 2
print(list_numbers)

[1, 2, 3, 4, 5, 6, 7, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7, 1, 1, 1]

In [28]:
# Count occurrence of a specific number

print(list_numbers.count(1))

8

# Python Tuples

In [29]:
test_list = [1, 2, 3, 4, 5, 6, 7, 8, 8, 8]
test_tuple = (1, 2, 3, 4, 5, 6, 7, 8)

test_list[0] = 100
test_list.insert(1, 200)
print(test_list)

print(test_tuple)

[100, 200, 2, 3, 4, 5, 6, 7, 8, 8, 8]
(1, 2, 3, 4, 5, 6, 7, 8)

Invalid tuple operations

In [30]:
# Tuple items are immutable, they can't deleted once created
# test_tuple.pop()

# test_tuple.insert(1, 10000)

# tuple_2.append("item4")

In [31]:
# One item tuple 

one_item_tuple = ("item 1", )
print(one_item_tuple, type(one_item_tuple))

('item 1',) <class 'tuple'>

In [32]:
# Converting a tuple into a list and vice versa

tuple_1 = ("item1", "item2", "item3")
print(tuple_1, type(tuple_1))

tuple_1 = list(tuple_1)
print(tuple_1, type(tuple_1))

('item1', 'item2', 'item3') <class 'tuple'>
['item1', 'item2', 'item3'] <class 'list'>

In [33]:
list7 = ['item1', 'item2', 'item3']
print(list7, type(list7))

list7 = tuple(list7)
print(list7, type(list7))

['item1', 'item2', 'item3'] <class 'list'>
('item1', 'item2', 'item3') <class 'tuple'>

Merge or join tuples

In [34]:
tuple_2 = ("item1", "item2", "item3")
tuple_3 = ("item4", "item5", "item6")
tuple_2 += tuple_3

print(tuple_2)

# ðŸ§ ðŸ§  Brainstorm: Why adding another tuple is valid whereas appending new item is invalid

test_tuple_2 = ("item1", "item2", "item3")
# test_tuple_2.append("item4")

# What is the workaround
test_tuple_2 = list(test_tuple_2)
test_tuple_2.append("item4")
test_tuple_2 = tuple(test_tuple_2)
print(test_tuple_2, type(test_tuple_2))

('item1', 'item2', 'item3', 'item4', 'item5', 'item6')
('item1', 'item2', 'item3', 'item4') <class 'tuple'>

In [35]:
test_tuple_3 = ("Hello",)
test_tuple_4 = ("Bangladesh", "and World!!")
final = test_tuple_3 + test_tuple_4

print(final)

fullStr = ""
for x in final:
    fullStr += x + " "

print(fullStr)

('Hello', 'Bangladesh', 'and World!!')
Hello Bangladesh and World!!

In [36]:
# unpacking tuple

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(item1, item2, *remain_fruit) = fruits
print(item1, item2, remain_fruit)

apple banana ['cherry', 'strawberry', 'raspberry']

In [37]:
for x in fruits:
    print(x, end=' ')

apple banana cherry strawberry raspberry

In [38]:
# Multiply tuple

tuple_numbers = (1, 2, 3, 4, 5, 6, 7)
tuple_numbers *= 2
print(tuple_numbers)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

Position of an item in a list or tuple

In [39]:
test_tuple_5 = ("America", "Bangladesh", "Canada", "Denmark", "England")
test_list_2 = ["America", "Canada", "Denmark", "England", "Bangladesh"]

# Position in the tuple
print(test_tuple_5.index("Bangladesh"))
zero_based_idx = test_list_2.index("England")
print(zero_based_idx)

1
3

How to convert a zero-based index into a negative index

In [40]:
negative_idx = zero_based_idx - len(test_list_2)
print(negative_idx)

-2

# Python Set

### Traits of Set
- Duplicate items are not allowed

In [4]:
my_set_1 = {"1", "2", "3", "1", "4"}
print(my_set_1)

{'3', '1', '2', '4'}

In [44]:
# How to find the duplicate elements => keep the item that exist both in set 'x' and set 'y'

x = {'1', '2'}
y = {'5', '6', '1'}
x.intersection_update(y)
print(x)

{'1'}

Iterating a set

In [45]:
for item in my_set_1:
    print(item, end=" ")

20 6 5 4 10 3 1 2

-   Merging set items
    -   `update()` ðŸ‘‰ In-place or update in existing set
    -   `union()` ðŸ‘‰ Returns a new set
-   Keep the duplicate elements
    -   `intersection()` ðŸ‘‰ Returns a new set
    -   `intersection_update()` ðŸ‘‰ In-place
-   Exempt the duplicate elements
    -   `symmetric_difference()` ðŸ‘‰ Returns a new set
    -   `symmetric_difference_update` ðŸ‘‰ In-place

> The update() method used for merging two set in an existing set. It doesn't return a new set.

In [ ]:
my_set_2 = {"5", "5", "6"}
# print(my_set_2)

# Add items from another set, list or tuple 
test_list_3 = ["10", '20']
my_set_1.update(test_list_3)
my_set_1.update(my_set_2)

print(my_set_1)

> The union() method return a new set, hence it requires a variable to accept the new returning value

In [9]:
my_set_3 = my_set_2.union(my_set_1)
print(my_set_3)

{'3', '5', '6', '20', '2', '4', '10', '1'}

>

In [10]:
my_set_4 = my_set_3.intersection(my_set_1)
print(my_set_4)

{'3', '5', '6', '2', '20', '4', '10', '1'}

# Python Dictionary

In [46]:
my_dict = {
    'name': "Marie D Souza",
    'Country': 'Argentina',
    'Religion': None,
    'Age': 33, 
    'Education': 'PhD in Human Behavior',
    'Education': 'PhD in Urban Architecture'
}

print(my_dict)

{'name': 'Marie D Souza', 'Country': 'Argentina', 'Religion': None, 'Age': 33, 'Education': 'Bachelor'}

In [47]:
dict_keys = my_dict.keys()          # returns a list 
dict_values = my_dict.values()      # returns a list 
dict_items = my_dict.items()        # returns a list of tuple

print(dict_keys)
print(dict_values)
print(dict_items)

dict_keys(['name', 'Country', 'Religion', 'Age', 'Education'])
dict_values(['Marie D Souza', 'Argentina', None, 33, 'Bachelor'])
dict_items([('name', 'Marie D Souza'), ('Country', 'Argentina'), ('Religion', None), ('Age', 33), ('Education', 'Bachelor')])

In [48]:
# Check if a 'key' exist in the dictionary 

if 'Age' in my_dict:
    print(f"His age is: {my_dict['Age']}")
else:
    print("No such key exist in the dictionary")

His age is: 33

Iterating the dictionary

In [49]:
# way 01
for item in my_dict:
    print(my_dict[item], end=' ')
    
for x, y in my_dict.items():
    print(x, y)

Marie D Souza Argentina None 33 Bachelor name Marie D Souza
Country Argentina
Religion None
Age 33
Education Bachelor

In [50]:
# Iterating the keys

for item in my_dict.keys():
    print(item, end=" ")

print()

for item in my_dict.values():
    print(item, end = ' ')

name Country Religion Age Education
Marie D Souza Argentina None 33 Bachelor

## Nested dictionary

Dictionary that includes one or multiple dictionary

In [17]:
# EU

European_Union = {

    "Germany": {
        "cities": {
            "Berlin": [],
            "Munich": [],
            "Frankfurt": []
        },
        "universities": {

        }
    },

    "France": {
        "cities": {
            "Paris": [],
            "Niece": [],
        },
        "universities": {

        }
    },

    "Italy": {
        "cities": {
            "Rome": [],
            "Venice": [],
            "": []
        },
        "universities": {

        }
    }

}

Create a program that tracks student exam information
- Calculate Average marks 
- Evaluate the best student 
- If there is a tie among students, list all those students

In [51]:
# Creating an empty dictionary
students_dict = dict()
print(students_dict, type(students_dict))

{} <class 'dict'>

In [ ]:
students_cnt = int(input("Enter number of students: "))

for i in range(1, students_cnt + 1):

    # init inner dictionary for the i-th student
    label = "student" + str(i)
    students_dict[label] = dict()

    name = input("Enter name: ")
    students_dict[label]["name"] = name

    print("Enter mark for three subjects: ")
    marks_list = []

    total_marks = 0
    for i in range(1, 4):
        x = float(input(f"Subject {i} marks: "))
        total_marks += x
        marks_list.append(x)

    students_dict[label]['marksList'] = marks_list
    students_dict[label]['average'] = total_marks / 3

In [ ]:
# Showing the student dictionary

print(students_dict)

{'student1': {'name': 'Subodh Chandra Shil', 'marksList': [100.0, 100.0, 100.0], 'average': 100.0}, 'student2': {'name': 'Rajia Sultana', 'marksList': [100.0, 100.0, 100.0], 'average': 100.0}}

In [ ]:
# Evaluating best students
best_students = []
max_average = 0

for x in students_dict:
    avg = students_dict[x]['average']

    if avg >= max_average:
        if avg > max_average:
            # popping the previous
            best_students.clear()
            max_average = avg

        # entitling new student
        best_students.append([students_dict[x]['name'], avg])

print(best_students)

[['Subodh Chandra Shil', 100.0], ['Rajia Sultana', 100.0]]

How to iterate over a nested dictionary

In [ ]:
for x in students_dict:
    print(x)
    for y in students_dict[x]:
        print(students_dict[x][y])

student1
Subodh Chandra Shil
[100.0, 100.0, 100.0]
100.0
student2
Rajia Sultana
[100.0, 100.0, 100.0]
100.0

In [ ]:
# Empty tuple

my_tuple = list()
print(my_tuple, type(my_tuple))

[] <class 'list'>

### Employee Management (Python Dictionary)

- Calculate extra bonus 
- Evaluate who is earning most, and if there any tie among employees then append all

### Home rental system (Python Dictionary)

### **```Parameter vs Argument```**
- **Parameter**: Parameters are the variables that are listed in a function definition.
- **Argument**: Argument are the values that are passed at the position of the parameter. 

2 types of argument:
1. **Arbitrary arguments**: Tuple

In [14]:
def demo_func1(*args):
    print(args)

demo_func1("Subodh", "Shil")

('Subodh', 'Shil')

2. **Arbitrary keyword arguments (\*\*kwargs)**: Dictionary

In [12]:
def demo_func2(**kwargs):
    print(kwargs)

demo_func2(name="Toru", lastName="Okazaki")

{'name': 'Toru', 'lastName': 'Okazaki'}

Default parameter value is auto-initialized value actually used when no argument is passed.

In [9]:
def demo_func3(fruit="Mango"):
    print(f"My favorite fruit is {fruit}")

demo_func3()

My favorite fruit is Mango